# Part I - (Dataset Exploration Title)
## by Charles Nikoro

## Introduction

In this project, we will analyze loan data from Prosper (a peear-to-peer lending marketplace) with the aim of investigating the possible factors that can affect the outcome of a loan's status.

> Introduce the dataset

>**Rubric Tip**: Your code should not generate any errors, and should use functions, loops where possible to reduce repetitive code. Prefer to use functions to reuse code statements.

> **Rubric Tip**: Document your approach and findings in markdown cells. Use comments and docstrings in code cells to document the code functionality.

>**Rubric Tip**: Markup cells should have headers and text that organize your thoughts, findings, and what you plan on investigating next.  



## Preliminary Wrangling

In [1]:
# import all packages and set plots to be embedded inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb

%matplotlib inline

> Load in your dataset and describe its properties through the questions below. Try and motivate your exploration goals through this section.

In [2]:
# load data and check the first five records

loans = pd.read_csv('../dataset/prosperLoanData.csv')

loans.head()

,ListingKey,ListingNumber,ListingCreationDate,CreditGrade,Term,LoanStatus,ClosedDate,BorrowerAPR,BorrowerRate,LenderYield,...,LP_ServiceFees,LP_CollectionFees,LP_GrossPrincipalLoss,LP_NetPrincipalLoss,LP_NonPrincipalRecoverypayments,PercentFunded,Recommendations,InvestmentFromFriendsCount,InvestmentFromFriendsAmount,Investors
0,1021339766868145413AB3B,193129,2007-08-26 19:09:29.263000000,C,36,Completed,2009-08-14 00:00:00,0.16516,0.1580,0.1380,...,-133.18,0.0,0.0,0.0,0.0,1.0,0,0,0.0,258
1,10273602499503308B223C1,1209647,2014-02-27 08:28:07.900000000,NaN,36,Current,NaN,0.12016,0.0920,0.0820,...,0.00,0.0,0.0,0.0,0.0,1.0,0,0,0.0,1
2,0EE9337825851032864889A,81716,2007-01-05 15:00:47.090000000,HR,36,Completed,2009-12-17 00:00:00,0.28269,0.2750,0.2400,...,-24.20,0.0,0.0,0.0,0.0,1.0,0,0,0.0,41
3,0EF5356002482715299901A,658116,2012-10-22 11:02:35.010000000,NaN,36,Current,NaN,0.12528,0.0974,0.0874,...,-108.01,0.0,0.0,0.0,0.0,1.0,0,0,0.0,158
4,0F023589499656230C5E3E2,909464,2013-09-14 18:38:39.097000000,NaN,36,Current,NaN,0.24614,0.2085,0.1985,...,-60.27,0.0,0.0,0.0,0.0,1.0,0,0,0.0,20

In [3]:
loans.shape

(113937, 81)

In [4]:
loans.duplicated().sum()

0

In [46]:
loans.dropna()

Empty DataFrame
Columns: [ListingKey, ListingNumber, ListingCreationDate, CreditGrade, Term, LoanStatus, ClosedDate, BorrowerAPR, BorrowerRate, LenderYield, EstimatedEffectiveYield, EstimatedLoss, EstimatedReturn, ProsperRating (numeric), ProsperRating (Alpha), ProsperScore, ListingCategory (numeric), BorrowerState, Occupation, EmploymentStatus, EmploymentStatusDuration, IsBorrowerHomeowner, CurrentlyInGroup, GroupKey, DateCreditPulled, CreditScoreRangeLower, CreditScoreRangeUpper, FirstRecordedCreditLine, CurrentCreditLines, OpenCreditLines, TotalCreditLinespast7years, OpenRevolvingAccounts, OpenRevolvingMonthlyPayment, InquiriesLast6Months, TotalInquiries, CurrentDelinquencies, AmountDelinquent, DelinquenciesLast7Years, PublicRecordsLast10Years, PublicRecordsLast12Months, RevolvingCreditBalance, BankcardUtilization, AvailableBankcardCredit, TotalTrades, TradesNeverDelinquent (percentage), TradesOpenedLast6Months, DebtToIncomeRatio, IncomeRange, IncomeVerifiable, StatedMonthlyIncome, LoanKey, TotalProsperLoans, TotalProsperPaymentsBilled, OnTimeProsperPayments, ProsperPaymentsLessThanOneMonthLate, ProsperPaymentsOneMonthPlusLate, ProsperPrincipalBorrowed, ProsperPrincipalOutstanding, ScorexChangeAtTimeOfListing, LoanCurrentDaysDelinquent, LoanFirstDefaultedCycleNumber, LoanMonthsSinceOrigination, LoanNumber, LoanOriginalAmount, LoanOriginationDate, LoanOriginationQuarter, MemberKey, MonthlyLoanPayment, LP_CustomerPayments, LP_CustomerPrincipalPayments, LP_InterestandFees, LP_ServiceFees, LP_CollectionFees, LP_GrossPrincipalLoss, LP_NetPrincipalLoss, LP_NonPrincipalRecoverypayments, PercentFunded, Recommendations, InvestmentFromFriendsCount, InvestmentFromFriendsAmount, Investors]
Index: []

[0 rows x 81 columns]

In [43]:
loans.ListingCreationDate.value_counts()

2013-10-02 17:20:16.550000000    6
2013-08-28 20:31:41.107000000    4
2013-09-08 09:27:44.853000000    4
2013-12-06 11:44:58.283000000    4
2013-12-06 05:43:13.830000000    4
                                ..
2013-12-20 16:29:35.667000000    1
2008-06-03 17:40:16.807000000    1
2007-04-25 11:06:01.370000000    1
2012-05-01 07:18:05.273000000    1
2014-01-15 09:27:37.657000000    1
Name: ListingCreationDate, Length: 113064, dtype: int64

In [5]:
loans.isna().sum().sort_values(ascending=False)

GroupKey                         100596
LoanFirstDefaultedCycleNumber     96985
ScorexChangeAtTimeOfListing       95009
ProsperPrincipalOutstanding       91852
ProsperPrincipalBorrowed          91852
                                  ...
IncomeRange                           0
IncomeVerifiable                      0
StatedMonthlyIncome                   0
LoanKey                               0
Investors                             0
Length: 81, dtype: int64

In [38]:
loans[loans.Occupation.isna()][['Occupation', 'EmploymentStatus', 'IncomeRange']].query('EmploymentStatus=="Full-time"')

      Occupation EmploymentStatus     IncomeRange
91583        NaN        Full-time  $50,000-74,999

In [41]:
loans.loc[91582:91584, 'Occupation':]

,Occupation,EmploymentStatus,EmploymentStatusDuration,IsBorrowerHomeowner,CurrentlyInGroup,GroupKey,DateCreditPulled,CreditScoreRangeLower,CreditScoreRangeUpper,FirstRecordedCreditLine,...,LP_ServiceFees,LP_CollectionFees,LP_GrossPrincipalLoss,LP_NetPrincipalLoss,LP_NonPrincipalRecoverypayments,PercentFunded,Recommendations,InvestmentFromFriendsCount,InvestmentFromFriendsAmount,Investors
91582,Sales - Commission,Full-time,57.0,True,False,NaN,2007-07-20 20:49:21.487000000,740.0,759.0,1990-03-31 00:00:00,...,-30.66,0.0,0.0,0.0,0.0,1.0,0,0,0.0,144
91583,NaN,Full-time,13.0,True,False,NaN,2013-12-27 20:37:23,640.0,659.0,2001-03-12 00:00:00,...,-15.99,0.0,0.0,0.0,0.0,1.0,0,0,0.0,1
91584,Retail Management,Employed,74.0,False,False,NaN,2012-06-24 10:59:15,680.0,699.0,1977-03-04 00:00:00,...,-75.82,0.0,0.0,0.0,0.0,1.0,0,0,0.0,95

In [8]:
loans.EmploymentStatus.value_counts(dropna=False)

Employed         67322
Full-time        26355
Self-employed     6134
Not available     5347
Other             3806
NaN               2255
Part-time         1088
Not employed       835
Retired            795
Name: EmploymentStatus, dtype: int64

In [53]:
loans.Occupation.value_counts(dropna=False)

Other                          28617
Professional                   13628
Computer Programmer             4478
Executive                       4311
Teacher                         3759
                               ...
Dentist                           68
Student - College Freshman        41
Student - Community College       28
Judge                             22
Student - Technical School        16
Name: Occupation, Length: 68, dtype: int64

In [61]:
employment_status = loans[['Occupation', 'EmploymentStatus']]

employment_status[employment_status.Occupation.isna()].EmploymentStatus.value_counts(dropna=False)

NaN          2255
Other        1332
Full-time       1
Name: EmploymentStatus, dtype: int64

In [63]:
employment_status[employment_status.Occupation.isna()].query('EmploymentStatus == "Full-time"')

      Occupation EmploymentStatus
91583        NaN        Full-time

In [67]:
loans.loc[91581:91585, "Occupation"]

,ListingKey,ListingNumber,ListingCreationDate,CreditGrade,Term,LoanStatus,ClosedDate,BorrowerAPR,BorrowerRate,LenderYield,...,LP_ServiceFees,LP_CollectionFees,LP_GrossPrincipalLoss,LP_NetPrincipalLoss,LP_NonPrincipalRecoverypayments,PercentFunded,Recommendations,InvestmentFromFriendsCount,InvestmentFromFriendsAmount,Investors
91581,4EE43588669570129DCD4A1,905148,2013-09-17 16:03:11.733000000,NaN,36,Current,NaN,0.15324,0.1249,0.1149,...,-7.87,0.0,0.0,0.0,0.0,1.0,0,0,0.0,1
91582,4EE93394093932413F76731,173407,2007-07-20 21:18:11.087000000,A,36,Completed,2010-08-06 00:00:00,0.09578,0.0889,0.0839,...,-30.66,0.0,0.0,0.0,0.0,1.0,0,0,0.0,144
91583,5FDB359776557585836A751,1062697,2013-12-27 20:37:20.893000000,NaN,36,Current,NaN,0.18990,0.1535,0.1435,...,-15.99,0.0,0.0,0.0,0.0,1.0,0,0,0.0,1
91584,5FE53550931192388BCFF1C,603494,2012-06-24 10:59:17.573000000,NaN,60,Current,NaN,0.20705,0.1830,0.1730,...,-75.82,0.0,0.0,0.0,0.0,1.0,0,0,0.0,95

In [69]:
loans.loc[91581:91585, "LenderYield":"LP_ServiceFees"]

,LenderYield,EstimatedEffectiveYield,EstimatedLoss,EstimatedReturn,ProsperRating (numeric),ProsperRating (Alpha),ProsperScore,ListingCategory (numeric),BorrowerState,Occupation,...,LoanNumber,LoanOriginalAmount,LoanOriginationDate,LoanOriginationQuarter,MemberKey,MonthlyLoanPayment,LP_CustomerPayments,LP_CustomerPrincipalPayments,LP_InterestandFees,LP_ServiceFees
91581,0.1149,0.11024,0.0374,0.07284,6.0,A,7.0,1,CA,Executive,...,102237,2000,2013-09-24 00:00:00,Q3 2013,27283693077605023DE0801,66.90,368.8156,271.30,97.5156,-7.87
91582,0.0839,NaN,NaN,NaN,NaN,NaN,NaN,0,OR,Sales - Commission,...,17696,3900,2007-08-06 00:00:00,Q3 2007,565033947521162683F3E66,123.82,4227.9500,3682.74,545.2100,-30.66
91583,0.1435,0.13507,0.0599,0.07517,5.0,B,6.0,1,TN,NaN,...,124577,10000,2014-01-03 00:00:00,Q1 2014,DA4F370190128664644C78E,348.37,696.7400,451.18,245.5600,-15.99
91584,0.1730,0.17000,0.0420,0.12800,5.0,B,7.0,1,MS,Retail Management,...,68740,7500,2012-06-26 00:00:00,Q2 2012,707733650483469240FD7A3,191.68,5295.0000,3705.12,1589.8800,-75.82
91585,0.1892,NaN,NaN,NaN,NaN,NaN,NaN,0,AZ,Other,...,16873,5000,2007-07-12 00:00:00,Q3 2007,BBCF3386232084430ECC713,188.17,2398.8100,1454.64,944.1700,-47.38

In [70]:
loans.loc[91581:91585, "Occupation":"LoanNumber"]

,Occupation,EmploymentStatus,EmploymentStatusDuration,IsBorrowerHomeowner,CurrentlyInGroup,GroupKey,DateCreditPulled,CreditScoreRangeLower,CreditScoreRangeUpper,FirstRecordedCreditLine,...,OnTimeProsperPayments,ProsperPaymentsLessThanOneMonthLate,ProsperPaymentsOneMonthPlusLate,ProsperPrincipalBorrowed,ProsperPrincipalOutstanding,ScorexChangeAtTimeOfListing,LoanCurrentDaysDelinquent,LoanFirstDefaultedCycleNumber,LoanMonthsSinceOrigination,LoanNumber
91581,Executive,Employed,17.0,True,False,NaN,2013-09-17 16:03:13,680.0,699.0,1991-08-27 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,6,102237
91582,Sales - Commission,Full-time,57.0,True,False,NaN,2007-07-20 20:49:21.487000000,740.0,759.0,1990-03-31 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,79,17696
91583,NaN,Full-time,13.0,True,False,NaN,2013-12-27 20:37:23,640.0,659.0,2001-03-12 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,2,124577
91584,Retail Management,Employed,74.0,False,False,NaN,2012-06-24 10:59:15,680.0,699.0,1977-03-04 00:00:00,...,21.0,0.0,0.0,2000.0,12.55,-3.0,0,NaN,21,68740
91585,Other,Full-time,157.0,True,True,783C3371218786870A73D20,2007-07-01 03:07:07.997000000,620.0,639.0,1989-06-09 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,2005,18.0,80,16873

In [71]:
employment_status.EmploymentStatus.value_counts(dropna=False)

Employed         67322
Full-time        26355
Self-employed     6134
Not available     5347
Other             3806
NaN               2255
Part-time         1088
Not employed       835
Retired            795
Name: EmploymentStatus, dtype: int64

Notes:

not sure why there are missing values in the occupation field. This wasn't explained in the data dictionary. Since we are not sure of how to determine these missing values, or what they mean, we could drop all the rows whose occupation columns have missing values. Might not work with the occupation or employment_status variables since their values are not clearly well defined.

In [25]:
loans.IncomeRange.value_counts(dropna=False)

$25,000-49,999    32192
$50,000-74,999    31050
$100,000+         17337
$75,000-99,999    16916
Not displayed      7741
$1-24,999          7274
Not employed        806
$0                  621
Name: IncomeRange, dtype: int64

Notes:
Not employed is not a valid income range value. After checking its corresponding StatedMonthlyIncome, I noticed all its corresponding income is approximately 0. We could change it to Not displayed. Or better yet, we could use statedMonthlyIncome alone.

In [52]:
loans.query('(IncomeRange=="Not displayed") and (StatedMonthlyIncome == 0)')[['IncomeRange',
                                                                              'StatedMonthlyIncome']].value_counts()

IncomeRange    StatedMonthlyIncome
Not displayed  0.0                    46
dtype: int64

In [76]:
ab = loans[loans.EmploymentStatusDuration.isna()]

In [79]:
ab[['EmploymentStatus', 'EmploymentStatusDuration']].value_counts(dropna=False)

EmploymentStatus  EmploymentStatusDuration
Not available     NaN                         5347
NaN               NaN                         2255
Full-time         NaN                           13
Other             NaN                            6
Self-employed     NaN                            2
Employed          NaN                            1
Not employed      NaN                            1
dtype: int64

In [75]:
loans.EmploymentStatusDuration.value_counts(dropna=False)

NaN      7625
0.0      1534
4.0      1186
1.0      1177
3.0      1174
         ...
648.0       1
662.0       1
733.0       1
690.0       1
578.0       1
Name: EmploymentStatusDuration, Length: 606, dtype: int64

In [11]:
# retrieve a subset of the data with the variables of interest
# then check the information of the new dataframe

variables = ['Term', 'Occupation', 'IncomeRange', 'StatedMonthlyIncome', 'IncomeVerifiable', 
             'IsBorrowerHomeowner', 'TotalProsperLoans', 'OnTimeProsperPayments', 'DebtToIncomeRatio', 'EmploymentStatus',
             'EmploymentStatusDuration', 'BorrowerAPR', 'ListingCategory (numeric)', 'MemberKey', 'LoanStatus', 'Investors']

loans_sub_set = loans[variables]

loans_sub_set.info(max_cols=16)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113937 entries, 0 to 113936
Data columns (total 16 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Term                       113937 non-null  int64
 1   Occupation                 110349 non-null  object
 2   IncomeRange                113937 non-null  object
 3   StatedMonthlyIncome        113937 non-null  float64
 4   IncomeVerifiable           113937 non-null  bool
 5   IsBorrowerHomeowner        113937 non-null  bool
 6   TotalProsperLoans          22085 non-null   float64
 7   OnTimeProsperPayments      22085 non-null   float64
 8   DebtToIncomeRatio          105383 non-null  float64
 9   EmploymentStatus           111682 non-null  object
 10  EmploymentStatusDuration   106312 non-null  float64
 11  BorrowerAPR                113912 non-null  float64
 12  ListingCategory (numeric)  113937 non-null  int64
 13  MemberKey                  113937 non-null  object
 14  LoanStatus                 113937 non-null  object
 15  Investors                  113937 non-null  int64
dtypes: bool(2), float64(6), int64(3), object(5)
memory usage: 12.4+ MB

Notes:

 TotalProsperLoans have some null values because some borrowers are new
 The same is true of OnTimeProsperPayments
 EmploymentStatus is having some missing values, I don't know why
 EmploymentStatusDuration, DebtToIncomeRatio, and Occupation are also missing some values
 Term should be a categorical variable
 ListingCategory should be categorical as well.
 IncomeRange as well

In [17]:
loans_sub_set.duplicated().sum()

871

In [18]:
loans_sub_set[loans_sub_set.duplicated()].iloc[1]

Term                                              60
Occupation                                     Other
IncomeRange                           $25,000-49,999
StatedMonthlyIncome                           3750.0
IncomeVerifiable                                True
IsBorrowerHomeowner                             True
TotalProsperLoans                                NaN
OnTimeProsperPayments                            NaN
DebtToIncomeRatio                               0.35
EmploymentStatus                            Employed
EmploymentStatusDuration                       100.0
BorrowerAPR                                   0.1771
ListingCategory (numeric)                          1
MemberKey                    98A937006186534818378B9
LoanStatus                                   Current
Investors                                          1
Name: 999, dtype: object

In [19]:
loans_sub_set.query('MemberKey == "98A937006186534818378B9"')

,Term,Occupation,IncomeRange,StatedMonthlyIncome,IncomeVerifiable,IsBorrowerHomeowner,TotalProsperLoans,OnTimeProsperPayments,DebtToIncomeRatio,EmploymentStatus,EmploymentStatusDuration,BorrowerAPR,ListingCategory (numeric),MemberKey,LoanStatus,Investors
998,60,Other,"$25,000-49,999",3750.0,True,True,NaN,NaN,0.35,Employed,100.0,0.1771,1,98A937006186534818378B9,Current,1
999,60,Other,"$25,000-49,999",3750.0,True,True,NaN,NaN,0.35,Employed,100.0,0.1771,1,98A937006186534818378B9,Current,1
57494,60,Other,"$25,000-49,999",3750.0,True,True,NaN,NaN,0.35,Employed,100.0,0.1771,1,98A937006186534818378B9,Current,1

Notes

Data contains duplicates.

In [26]:
loans_sub_set[loans_sub_set['Occupation'].isna()].sample(5)

,Term,Occupation,IncomeRange,StatedMonthlyIncome,IncomeVerifiable,IsBorrowerHomeowner,TotalProsperLoans,OnTimeProsperPayments,DebtToIncomeRatio,EmploymentStatus,EmploymentStatusDuration,BorrowerAPR,ListingCategory (numeric),MemberKey,LoanStatus,Investors
76925,36,NaN,Not displayed,2966.666667,True,False,NaN,NaN,0.20,NaN,NaN,0.13835,0,58883364413959791BF6842,Completed,134
66639,36,NaN,"$25,000-49,999",2593.000000,True,True,NaN,NaN,0.25,Other,209.0,0.13836,1,AF5B3705985214240847ACC,Current,124
45210,36,NaN,"$25,000-49,999",2500.000000,True,False,NaN,NaN,0.33,Other,106.0,0.19501,1,D19B3397251096614A1BC6B,Current,1
56751,36,NaN,Not displayed,2708.333333,True,True,NaN,NaN,0.57,NaN,NaN,0.24691,0,5FE23365334172929454977,Chargedoff,22
88760,36,NaN,"$50,000-74,999",5916.666667,True,False,NaN,NaN,0.19,Other,0.0,0.09469,1,E6FD370847623851404F08C,Current,1

### What is the structure of your dataset?

> Your answer here!

### What is/are the main feature(s) of interest in your dataset?

> Your answer here!

### What features in the dataset do you think will help support your investigation into your feature(s) of interest?

> Your answer here!

## Univariate Exploration

> In this section, investigate distributions of individual variables. If
you see unusual points or outliers, take a deeper look to clean things up
and prepare yourself to look at relationships between variables.


> **Rubric Tip**: The project (Parts I alone) should have at least 15 visualizations distributed over univariate, bivariate, and multivariate plots to explore many relationships in the data set.  Use reasoning to justify the flow of the exploration.



>**Rubric Tip**: Use the "Question-Visualization-Observations" framework  throughout the exploration. This framework involves **asking a question from the data, creating a visualization to find answers, and then recording observations after each visualisation.**



>**Rubric Tip**: Visualizations should depict the data appropriately so that the plots are easily interpretable. You should choose an appropriate plot type, data encodings, and formatting as needed. The formatting may include setting/adding the title, labels, legend, and comments. Also, do not overplot or incorrectly plot ordinal data.

### Discuss the distribution(s) of your variable(s) of interest. Were there any unusual points? Did you need to perform any transformations?

> Your answer here!

### Of the features you investigated, were there any unusual distributions? Did you perform any operations on the data to tidy, adjust, or change the form of the data? If so, why did you do this?

> Your answer here!

## Bivariate Exploration

> In this section, investigate relationships between pairs of variables in your
data. Make sure the variables that you cover here have been introduced in some
fashion in the previous section (univariate exploration).

### Talk about some of the relationships you observed in this part of the investigation. How did the feature(s) of interest vary with other features in the dataset?

> Your answer here!

### Did you observe any interesting relationships between the other features (not the main feature(s) of interest)?

> Your answer here!

## Multivariate Exploration

> Create plots of three or more variables to investigate your data even
further. Make sure that your investigations are justified, and follow from
your work in the previous sections.

### Talk about some of the relationships you observed in this part of the investigation. Were there features that strengthened each other in terms of looking at your feature(s) of interest?

> Your answer here!

### Were there any interesting or surprising interactions between features?

> Your answer here!

## Conclusions
>You can write a summary of the main findings and reflect on the steps taken during the data exploration.


> Remove all Tips mentioned above, before you convert this notebook to PDF/HTML


> At the end of your report, make sure that you export the notebook as an
html file from the `File > Download as... > HTML or PDF` menu. Make sure you keep
track of where the exported file goes, so you can put it in the same folder
as this notebook for project submission. Also, make sure you remove all of
the quote-formatted guide notes like this one before you finish your report!